img{
    height:50px;
    cursor:pointer;
}
.navbar-1{
    display:flex;
    /* border:1px solid black; */
    justify-content:space-around;
}
.nav-option{
    display:flex;
}
p{
    margin-left:1rem;
    cursor:pointer;
    font-weight: 600;
}
.navbar-btn{
    background: transparent;
    border-color: black;
    height: fit-content;
    padding: 1rem 2rem;
    align-self: center;
}