
.logo{
    font-size: 1.6rem;
    font-weight: 800;
    color: #67ba24;
    /* margin-left:3rem; */
    cursor:pointer;
}
.navbar-1{
    display:flex;
    margin-left: 0rem;
    position:fixed;
    width: 100%;
    justify-content:space-evenly;
    font-family: 'Patua One', cursive;
    color:white;
    z-index:1000;
}
.mob-nav{
    display:flex;
    margin-left: 0rem;
    position:fixed;
    width: 100%;
    font-family: 'Patua One', cursive;
    z-index:1000;
    justify-content:flex-start
}
.nav-option{
    display:flex;
    align-self: center;
}
.option:hover{
    color:rgb(232, 224, 240);
}
.option{
    margin-left:1rem;
    cursor:pointer;
    font-weight: 600;
}
.navbar-btn{
    background-color: #67ba24;
    height: fit-content;
    padding: 1rem 2rem;
    align-self: center;
    color: white;
    font-family: 'Patua One', cursive;
    border:none;
}